body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    background-color: #4B5563;
    width: 253px;
    height: 381px;
    border-radius: 16px;
    align-items: center;
}

.container img {
    width: 237px;
    height: 213px;
    border-radius: 16px 16px 0 0;
    padding-top: 10px;
}

.info {
    padding: 10px;
    text-align: center;
}

.info h2 {
    font-size: 1.2em;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info h2 .type {
    background-color: #374151;
    color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 14px;
    font-size: 0.8em;
}

.info p {
    font-size: 0.9em;
    color: #6B7280;
    margin: 5px 0;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.stat {
    font-size: 0.9em;
}

.types {
    display: flex;
    justify-content:space-around;
}

.type {
    background-color: #E5E7EB;
    border: 0 0 16px 16px;
}

#square {
    width: 237px;
    height: 147px;
    background-color: #E5E7EB;
    border-radius: 0 0 16px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}